# docker-compose.yml

services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    ports:
      - "5432:5432"
    volumes:
      # - postgres_data:/var/lib/postgresql/data
      - ./DB/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 15s
      timeout: 5s
      retries: 2

  pyapp:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    depends_on:
      - db

volumes:
  postgres_data:
